{% extends 'frontend/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 align=center class="display-3">About Page</h1>
    <p align=center class="lead"></p>
    <hr class="my-2" style="background-color:black; border:1px solid black;"><br>
    <table border="0" align=center><tr><td>
        <p>About info</p>
        <p align=center class="lead">It is a website that create a simple Calculator to try deploy on Hiroku.</p>
    </td></tr></table> 
</div>
{% endblock %}